{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block body %}
	<h1>Connexion</h1>
	<div class="" style="max-width: 500px;">
		{% if error is defined and error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<form action="{{ path('security_login') }}" method="post">
			<div class="row mb-3">
				<label for="username" class="col-form-label">Email :</label>
				<div class="col-sm-10">
					<input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Email" required>
				</div>
			</div>
			<div class="row mb-3">
				<label for="password" class="col-form-label">Mot de passe :</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe" required>
				</div>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('security_login') }}">
			<button class="btn btn-lg btn-success type=" submit">Connexion</button>
		</form>
		<a href = "{{ path('forget_password') }}" class="btn btn-secondary mt-3">Mot de passe oublié</a > 
	</div>
{% endblock %}
