<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}snowTRICKS!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

		<link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}  {# importe entre autre jQuery #}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('trick_home') }}">snowTRICKS</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('trick_showAll') }}">Tricks
								<span class="visually-hidden">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('trick_new') }}">Créer un tricks</a>
						</li>

						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('category_showAll') }}">Catégories
									<span class="visually-hidden">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('category_new') }}">Créer une catégorie</a>
							</li>
						{% endif %}

						{% if not app.user %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('registration_register') }}">Inscription</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}

		<div class="container"> {% block body %}{% endblock %}
			</div>

		{% block footer %}
            <footer style="position: absolute; width: 100%; background-color: #2C3E50; color: whitesmoke; padding: 20px 0; text-align: center;">
                <p>Copyright @ vinc 2023</p>
            </footer>
        {% endblock %}

	</body>
</html>
