{% extends 'base.html.twig' %}
{% form_theme formTrick 'bootstrap_5_layout.html.twig' %}
{% block title %}Mise à jour d'un Trick
{% endblock %}

{% block body %}
	<h1>Mise à jour d'un Trick</h1>

	{{ form_start(formTrick, {'attr': {'novalidate': 'novalidate'}}) }}

	{{ form_row(formTrick.name, {'attr' : {'placeholder' : "Nom" }}) }}

	{{ form_row(formTrick.categories, {'attr' : {'placeholder' : "Catégorie" }}) }}

	{{ form_row(formTrick.description, {'attr' : {'placeholder' : "Description" }}) }}
	<button type="submit" class="btn btn-success">Modifier le Trick</button>
	{{ form_end(formTrick) }}
{% endblock %}
