{% extends 'base.html.twig' %}
{% block title %}Liste de Tricks{% endblock %}

{% block body %}
	<div class="row mt-4">
		{% for trick in tricksPagination.tricksPerPage %}
			<div class="col-12 col-md-6 col-lg-3 mb-3" style="margin-top: 84px;">
				<div class="card h-100">
					<div class="card-body">
						<h2 class="card-title text-truncate" style="font-size: 1.5rem; line-height: 1.2; margin-bottom: 10px;">{{ trick.name }}</h2>

						{% if trick.getImages() is not empty %}
							<img src="{{ asset('/uploads/images/' ~ trick.getImages() | first.name) }}" alt="Image" class="card-img-top">
						{% else %}
							{# <img src="{{ asset('/path/to/placeholder-image.jpg') }}" alt="Placeholder Image" class="card-img-top"> #}
						{% endif %}

						<p style="color: #8c959e; margin-bottom: 16px; margin-top: 10px;">
							<span style="margin-bottom: 1.5em;"><i class="fa fa-calendar"></i> {{ trick.createdDate| date('d/m/Y') }} à {{ trick.createdDate | date('h:m') }}</span>
							<span style="margin-bottom: 1.5em;"><img src="{{trick.author.avatar}}" class="rounded-circle" height="24" width="24"/> {{ trick.author.username }}</span>
						</p>

						<div style="margin-bottom: 16px;">
							{% if trick.categories %}
								{% for category in trick.categories %}
									<a href="{{ path('trick_showByCategory', {'categorySlug': category.slug}) }}" title="Voir les tricks de cette catégorie" style="margin-right: 5px;">
										<i class="fa fa-tag"></i> {{ category.name }}
									</a>
								{% endfor %}
							{% endif %}
						</div>

						<div class="card-text text-truncate lire-suite">
							<p>{{ trick.description | raw }}</p>
							<a href="{{ path('trick_showOne', {'trickSlug':trick.slug}) }}" class="btn btn-primary btn-custom">Voir ce Trick</a>
						</div>

						<div style="color: #8c959e; margin-bottom: 10px; margin-top: 10px;">
							{{ trick.comments.count() }}
							{% if trick.comments.count() > 1 %} commentaires
							{% else %} commentaire
							{% endif %}
						</div>

					</div>
				</div>
			</div>
		{% endfor %}

		{% set path = 'trick_home' %}
		{% set param1 = {'page':currentPage-1} %}
		{% set param2 = {'page':currentPage} %}
		{% set param3 = {'page':currentPage+1} %}
		{% set totalOfPages = tricksPagination.totalOfPages %}
		{% set currentPage = currentPage %}
		<div class="">
			{% include "_partials/_pagination.html.twig" %}
		</div>
	</div>
{% endblock %}
