{% extends 'base.html.twig' %}
{% form_theme formTrick 'bootstrap_5_layout.html.twig' %}
{% block title %}Creation d'un Trick
{% endblock %}

{% block body %}
	<h1>Creation d'un Trick</h1>

	{{ form_start(formTrick, {'attr': {'novalidate': 'novalidate'}}) }}

	{{ form_row(formTrick.name, {'attr' : {'placeholder' : "Nom" }}) }}

	{{ form_row(formTrick.description, {'attr' : {'placeholder' : "Description" }}) }}

	{{ form_row(formTrick.category, {'attr' : {'placeholder' : "Catégorie" }}) }}

	<button type="submit" class="btn btn-success">Créer le Trick</button>

	{{ form_end(formTrick) }}
{% endblock %}
