{% extends 'base.html.twig' %}
{% form_theme formComment 'bootstrap_5_layout.html.twig' %}
{% block title %} {{ trick.name }} {% endblock %}

{% block body %}
	<section class="trick">
		<h2 class="metadata">
			{{ trick.name }}
		</h2>
		<div>
			Créé le
			{{ trick.createdDate| date('d/m/Y') }}
			à
			{{ trick.createdDate | date('h:m') }}
			par
			{{ trick.author.username }}
			<img src="{{trick.author.avatar}}" class="rounded-circle" height="24" width="24"/>
		</div>
		<div>
			{% if trick.categories %}
				{% for category in trick.categories %}
					<a href="{{ path('trick_showByCategory', {'categorySlug': category.slug}) }}">
						{{ category.name }}
					</a>
				{% endfor %}
			{% endif %}
		</div>
		<article>
			<div class="content">
				<p>
					{{ trick.description }}
				</p>
			</div>
		</article>
		
		{% for image in trick.getImages() %} {# ou: in trick.images #}
			<div>
				<img src="{{ asset('/uploads/images/' ~ image.name) }}" alt="Image" width="150">
			</div>
		{% endfor %}

		{% if trick.videoYT %}
			<div>
				<iframe width="150" height="84" src="https://www.youtube.com/embed/{{ trick.videoYT.ytVideoId }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		{% endif %}
	</section>

	<section class="trick">
		<div class="content">
			{% if is_granted("TRICK_EDIT", trick) %} {# vérifie les autorisations avec le voter #}
				<a href="{{ path('trick_edit', {'slug':trick.slug}) }}" class="btn btn-warning">
					<i class="fas fa-edit"></i>
				</a>
			{% endif %}
			{% if is_granted("TRICK_DELETE", trick) %} {# vérifie les autorisations avec le voter #}
				<a href="{{ path('trick_delete', {'slug':trick.slug}) }}" class="btn btn-danger" onclick="return confirm('Voulez-vous supprimer ce Trick ?')">
					<i class="fas fa-trash-alt"></i>
				</a>
			{% endif %}
		</div>
	</section>

	<section class="content">
		{% if is_granted('ROLE_USER') %}
			{{ form_start(formComment, {'attr': {'novalidate': 'novalidate'}}
			) }}
			{{ form_row(formComment.comment, {'attr' : {'placeholder' : "Salut, ..." }}
			) }}
			<button type="submit" class="btn btn-success">
				Enregistrer
			</button>
			{{ form_end(formComment) }}
		{% endif %}
	</section>

	<section>
		<div id="js-comments"></div>
	</section>
{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		var isAdmin = {{ is_granted('ROLE_ADMIN') ? 'true' : 'false' }};
		$(document).ready(function () {
			var page = 1;
			var morePages = true;
			var lastCalled = Date.now();
			loadComments(page);

			$(window).scroll(function () {
				if (($(window).scrollTop() + $(window).height() >= $(document).height() - 100) && morePages) {
					// Ajout d'un delai pour éviter les appels multiples à la fonction loadComments avec une seule action de scroll
					var now = Date.now();
					if (now - lastCalled > 150) {
						lastCalled = now;
						page++;
						loadComments(page);
					}
				}
			});
		});
		function loadComments(page) {
			$.ajax({
				type: 'GET',
				// #[Route('/trick/{trickSlug}/commentaires', name: 'trick_getComments', methods:["GET"])]
				url: '/trick/' + '{{ trickSlug }}' + '/commentaires?page=' + page,
				dataType: 'json',				
				success: function (data) {
					// On boucle une page :
					for (var i = 1; i <= data.commentsData.length; i++) {
						// data.commentsData.length = nombre de comments par page
						var date = new Date(data.commentsData[i].created_date);
						var dateFormatted = date.toLocaleDateString() + ' à '
							+ date.toLocaleTimeString("fr-FR", {hour: '2-digit', minute:'2-digit'});

						// console.log(data.commentsData[i].user.avatar);

						// Création de l'élément image
						var avatar = $("<img>")
						.attr("src", data.commentsData[i].user.avatar)
						.attr("height", "24")
						.attr("width", "24")
						.addClass("rounded-circle")
						.attr("alt", "Avatar de " + data.commentsData[i].user.username);

                        // Création de l'élément username
                        var username = $("<span>")
                            .text(data.commentsData[i].user.username)
                            .addClass("username");

                        // Création de l'élément commentaire
                        var com = $("<p>")
                            .append("Ecrit le " + dateFormatted + " par ")
                            .append(username)
							.append(avatar)
                            .append("<br>")
                            .append(data.commentsData[i].comment);

						// Ajout du bouton "supprimer" si Admin :
						if (isAdmin) {
							// #[Route('/commentaires/{comment_id}/{trick_slug}/supprimer', name: 'comment_delete')]
							var deleteBtn = $("<a>")
								.attr("href", "/commentaires/" + data.commentsData[i].id + "/" + "{{ trickSlug }}" + "/supprimer")
								.addClass("btn btn-danger")
								.text("Supprimer");

							$("#js-comments").append(com);
							$("#js-comments").append(deleteBtn);
						} else {
							$("#js-comments").append(com);
						}
					}
					if (page >= data.totalNumberOfPages) {
						morePages = false;
					}
				},
				error: function(xhr, status, error) {
					console.error('Erreur lors du chargement des commentaires : ' + error);
				}
			});
		};
	</script>
{% endblock %}
