{% extends 'base.html.twig' %}

{% block title %}Liste de Tricks
{% endblock %}

{% block body %}
	<p>Liste de Tricks</p>
	<div class="row">
		{% for trick in tricksPagination.tricksPerPage %}
			<div class="col-3 mb-3">
				<div class="border border-dark rounded p-2">
					<h2>{{ trick.name }}</h2>
					<div class="content">Ecrit le
						{{ trick.createdDate | date('d/m/Y') }}
						à
						{{ trick.createdDate | date('h:m') }}
						par
						{{ trick.author.username }}
					</div>
					<div>
						{% if trick.categories %}
							{% for category in trick.categories %}
								<a href="{{ path('trick_showByCategory', {'categorySlug': category.slug}) }}">{{ category.name }}</a>
							{% endfor %}
						{% endif %}
					</div>
					<div class="content">
						<p>{{ trick.description | raw }}</p>
						<a href="{{ path('trick_showOne', {'trickSlug':trick.slug}) }}" class="btn btn-primary">Lire la suite</a>
					</div>
				</div>
			</div>
		{% endfor %}

		{% set path = 'trick_showAll' %}
		{% set param1 = {'page':currentPage-1} %}
		{% set param2 = {'page':currentPage} %}
		{% set param3 = {'page':currentPage+1} %}
		{% set totalOfPages = tricksPagination.totalOfPages %}
		{% set currentPage = currentPage %}
		<div class=""></br>
		{% include "_partials/_pagination.html.twig" %}
	</div>
</div>{% endblock %}
