{% extends 'base.html.twig' %}

{% block title %}Un Trick
{% endblock %}

{% block body %}
	<section class="trick">
		<article>
			<h2>Titre</h2>
			<div class="metadata">
				{{ trick.name }}
			</div>
			<div class="content">
				<p>{{ trick.description }}</p>
			</div>
			<div>Créé le
				{{ trick.createdDate| date('d/m/Y') }}
				à
				{{ trick.createdDate | date('h:m') }}
			</div>
			<div>
				{{ trick.category.name }}
			</div>

		</article>
		<div class="content">
			{% if is_granted("TRICK_EDIT", trick) %}
				<a href="{{ path('trick_edit', {'slug':trick.slug}) }}" class="btn btn-warning">Modifier</a>
			{% endif %}

			{% if is_granted("TRICK_DELETE", trick) %}
				<a href="{{ path('trick_delete', {'slug':trick.slug}) }}" class="btn btn-danger">Supprimer</a>
			{% endif %}
		</div>

	</section>
{% endblock %}
